<template>
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Nouveaux produits</h2>
            <h3 class="section-subheading text-muted">Les offres qui vous ...</h3>
          </div>
        </div>

        <div class="row">
          
            <div class="col-md-4 col-sm-6 portfolio-item" v-for="(obj, key) in listeP" :key="key">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="  " alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ obj.ID }}</h4>
                    <p class="text-muted">{{ obj.ID }}</p>
                    <button>Ajouter panier</button>
                </div>
            </div>
        </div>
      </div>
    </section>
</template>

<script>
import m from './model'
export default {
    data: () => m,
    created () {
        this.getList()
        this.portfolioJSON = this.listeP
    }
}
</script>

<style lang="css">
</style>